@model RD.Data.Models.Documentacion

@{
    ViewBag.Title = "Documentación";
}

<div class="wrapper">

    @Html.Partial("~/Views/Shared/_Header.cshtml")

    @*Import Sidebar Left*@
    @Html.Partial("~/Views/Shared/_SidebarLeft.cshtml")
    <div class="wrapper">
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Sistema de gestión
                    <small>Documentaciones</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-newspaper-o"></i> Home</a></li>
                    <li><a href="#">Documentaciones</a></li>
                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Generación de documentaciones</h3>
                                <hr />
                            </div><!-- /.box-header -->
                            <div class="box-body">

                                <div>

                                    <dl class="dl-horizontal">
                                        <dt>
                                           <label>Nombre de Afiliado</label>
                                        </dt>
                                        <dd>
                                            @Model.Afiliado.Nombres
                                        </dd>
                                        <dt>
                                            <label>Indice de Afliado</label>
                                        </dt>
                                        <dd>
                                            @{
                                                var i = Model.Afiliado.AfiliadoIndice.ToString();
                                                while (i.Length < 8)
                                                {
                                                    i = "0" + i;
                                                }
                                                if (i.Length > 4)
                                                {
                                                    @Html.Raw("7777-2552-" + i.Substring(0, 4) + "-" + i.Substring(4, 4))
                                                }


                                            }
                                            @*Model.Afiliado.AfiliadoIndice*@
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.CartaBienvenida)                                            
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.CartaBienvenida)                                            
                                            @if (@Model.CartaBienvenida == false)
                                            {
                                                <label class="text-red">@Model.CartaBienvenida</label>
                                            }
                                            else
                                            {
                                                <label class="text-green">@Model.CartaBienvenida</label>
                                            }
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Carnet)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Carnet)
                                            @if (@Model.Carnet == false)
                                            {
                                                <label class="text-red">@Model.Carnet</label>
                                            }
                                            else
                                            {
                                                <label class="text-green">@Model.Carnet</label>
                                            }
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.LabelSobres)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.LabelSobres)
                                            @if (@Model.LabelSobres == false)
                                            {
                                                <label class="text-red">@Model.LabelSobres</label>
                                            }
                                            else
                                            {
                                                <label class="text-green">@Model.LabelSobres</label>
                                            }
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.CertificadoRegalo)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.CertificadoRegalo)
                                            @if (@Model.CertificadoRegalo == false)
                                            {
                                                <label class="text-red">@Model.CertificadoRegalo</label>
                                            }
                                            else
                                            {
                                                <label class="text-green">@Model.CertificadoRegalo</label>
                                            }
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.CertificadoRegalo2)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.CertificadoRegalo2)
                                            @if (@Model.CertificadoRegalo2 == false)
                                            {
                                                <label class="text-red">@Model.CertificadoRegalo2</label>
                                            }
                                            else
                                            {
                                                <label class="text-green">@Model.CertificadoRegalo2</label>
                                            }
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Generada)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Generada)
                                            @if (@Model.Generada == false)
                                            {
                                                <label class="text-red">@Model.Generada</label>
                                            }
                                            else
                                            {
                                                <label class="text-green">@Model.Generada</label>
                                            }
                                        </dd>

                                    </dl>
                                </div>
                                <p>
                                    @*@Html.ActionLink("Editar", "Edit", new { id = Model.DocumentacionID }) |*@
                                    @Html.ActionLink("Volver al Listado", "Index")
                                </p>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
    </div>
</div>



@*Import Sidebar Right*@
@Html.Partial("~/Views/Shared/_SidebarRight.cshtml")